page-login {
    .lg_ipt_bk{
        width: 100%;
        background: #f3f3f3;
    }

    .wd30{
        width:30%;
    }

    .wd50{
        width:50%;
    }

    .wd70{
        width:70%;
    }

    .hd15{
        height: 15%;
    }

    .hd100{
        height: 100%;
    }

    .pd_2{
        padding: 2%
    }

    .fl_left{
        float: left;
    }

    .bk_f6{
        background-color: #f6f6f6;
    }

}
