 <!-- <ion-header>

</ion-header> -->

<ion-content>
    <ion-list>
        <ion-item>
          <ion-input #box type="text" placeholder="请输入内容" (keyup.enter)="setSrch(box.value)">
            <!-- [(ngModel)]="srch_key"  -->
          </ion-input>
        </ion-item>
    </ion-list>

    <ion-list>
        <!-- <ion-item *ngFor="let item of sr_items">
            {{item.name}}
        </ion-item> -->
    <button ion-item *ngFor="let item of sr_items" (click)="itemSelected(item)">
        {{item.name}}
    </button>
    </ion-list>
</ion-content>