page-logon {
    .bk_w{
        // background: url("../assets/images/login_bk.png");
        background: url("../assets/images/bk_1.jpg");
        background-size: 100% auto;
    }

    .bk_h{
        // background: url("../assets/images/login_bk.png");
        background: url("../assets/images/bk_1.jpg");
        background-size: auto 100%;
    }

    ion-content{
        .login_title_bk{
            // filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;
            background: url("../assets/images/navbar_bk_img.png");

            .toolbar-background{
                background: none;
            }
        }
        
        ion-card{
            background: none;
            border:none;
            box-shadow:none;
            text-align: center;
            
            img{
                // width: 50%;
                max-width: 170px;
                text-align: center;
            }
        }

        ion-grid{
            background: none;
            border:none;
            box-shadow:none;
            text-align: center;
            
            img{
                width: 50%;
                max-width: 170px;
                text-align: center;
                border-radius: 50%;
            }
        }

        // ion-input{
        //     width: 80%;
        // }

        .input_bk{
            width: 100%;
            margin-top: 15px;
        }

        .input_ion{
            width: 85%;
            max-width: 356px;
            margin: 0px auto;
            border-radius: 64px;
            background: url("../assets/images/input_bk_img.png");
            // background: url("../assets/images/bk_1.jpg");
            padding: 2px 15px 2px 15px;
        }

        ion-input{
            input{
                color: #fff;
            }

            input::-webkit-input-placeholder { color:#fff; }
            input:-moz-placeholder { color:#fff; }
            input::-moz-placeholder { color:#fff; }
            input:-ms-input-placeholder { color:#fff; }
        }

        .login_btn{
            width: 85%;
            max-width: 356px;
        }

        .grid_bk{
            padding:0px;
        }

        .input_phone_ip{
            background: url("../assets/images/tablet_android.png") no-repeat left;
            padding-left:30px;
        }

        .input_pwd_ip{
            background: url("../assets/images/dots-three-horizontal.png") no-repeat left;
            padding-left:30px;
        }

        input{
            letter-spacing:2px;
        }

        .reg_bk{
            width:85%;
            max-width: 356px;
            margin: 0 auto;
            text-align: center;
        }

        .reg_bk_left{
            width: 42.5%;
            max-width: 178px;
            text-align: left;
            float:left;
            // width: 85%;
            // max-width: 356px;
        }

        .reg_bk_right{
            width: 42.5%;
            max-width: 178px;
            text-align: right;
            float:right;
        }

        .login_notice{
            font-size: 0.8em;
            color: #ddd;
        }

    }
}